<div class="container" #timeZoneContainer>
  <div class="row">
    <div class="col-md-12">
      <input
        type="text"
        class="validate filter-input"
        id="timeZoneSearch"
        [(ngModel)]="search"
        (input)="updateList(search)"
        (mousedown)="displayTimeZones()"
      />

      <div
        id="myDropdown"
        class="dropdown-content"
        [ngStyle]="{ 'background-color': dropdownColor }"
      >
        <div [ngClass]="displayTZ ? 'displayDropdown' : 'hideDropdown'">
          @for (timezone of filteredTimeZones; track timezone) {
            <div>
              <span (click)="displayTime(timezone)">{{ timezone }}</span>
            </div>
          } @empty {
            <div>
              <span>No Timezone found</span>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
