<div class="container">
    <div class="row">
      <div class="col-md-4 dateFormatPicker">
        <label>Date Time Format</label>
          <select [(ngModel)] = "selectedDateFormat" name="dateFormatSelected" #dateFormatSelected="ngModel">
            <option *ngFor="let dateFormat of dateFormats"
            [value]="dateFormat.value"
            [attr.selected]="selectedDateFormat==dateFormat.value ? true : null">
              {{dateFormat.text}}
            </option>
          </select>
      </div>
        <div class="col-md-4">
<app-timezone-picker [dateTimeFormat]="selectedDateFormat" (output)="retrieveCurrentTime($event)"></app-timezone-picker>
        </div>
        <div class="col-md-4">
<div *ngIf="selectedTimeZone !== '' && currentTime !== ''">
  <div>DateTimeFormat - {{selectedDateFormat}}</div>
  <div>Selected TimeZone = {{selectedTimeZone}}</div>
  <div>Current Time = {{currentTime}}</div>
</div>
</div>
</div>
</div>